.aPropos {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevronUp {
    height: 24px;
    display: none;
}

.chevronUp:hover {
    cursor: pointer;
}

.chevronDown {
    height: 24px;
}

.chevronDown:hover {
    cursor: pointer;
}

.value {
    width: 1024px;
    margin: 33px 0 0 0;
}

.valueTitle {
    display: flex;
    width: 100%;
    height: 47px;
    justify-content: space-between;
    align-items: center;
    padding: 0 33px 0 18px;
    background: #FF6060;
    border-radius: 5px;
}

.title {
    color: white;
    font-size: 24px;
}

.valueDescription {
    position: relative;
    padding: 36px 27px 19px 18px;
    background: #F7F7F7;
    border-radius: 5px;
    margin: -9px 0;
    z-index: -1;
    display: none;
    font-size: 24px;
}