header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px 0px;
}

.menu {
    font-size: 24px;
    padding-left: 57px;
}

.noTextDeco {
    text-decoration: none;
}